
<ul class="pickles2-module-editor__buttons">
	<li><button type="button" class="px2-btn px2-btn--download" data-pickles2-module-editor--action="download" data-pickles2-module-editor--target="css">DOWNLOAD CSS</button></li>
	<li><button type="button" class="px2-btn px2-btn--download" data-pickles2-module-editor--action="download" data-pickles2-module-editor--target="js">DOWNLOAD JavaScript</button></li>
	<% if(px2conf.plugins.px2dt.path_module_templates_dir){ %>
	<li><button type="button" class="px2-btn px2-btn--primary" data-pickles2-module-editor--action="addNewPackage"><%= lb.get("ui_label.modal_title.add_a_new_package") %></button></li>
	<% } %>
</ul>


<ul class="pickles2-module-editor__packageList">
<% for( var packageId in packageList ){ %>
	<li data-pickles2-module-editor--module-id="<%= packageList[packageId].packageId %>">
		<div class="pickles2-module-editor__title">
			<span class="pickles2-module-editor__title__label"><%= packageList[packageId].packageName %></span>
			<span class="pickles2-module-editor__title__id"><%= packageList[packageId].packageId %></span>
		</div>
		<% if( packageList[packageId].isEditable ){ %>
		<ul class="pickles2-module-editor__buttons">
			<li><button type="button" class="px2-btn" data-pickles2-module-editor--action="addNewCategory" data-pickles2-module-editor--target="<%= packageList[packageId].packageId %>">ADD NEW CATEGORY</button></li>
			<li><button type="button" class="px2-btn px2-btn--primary" data-pickles2-module-editor--action="editPackage" data-pickles2-module-editor--target="<%= packageList[packageId].packageId %>">EDIT PACKAGE</button></li>
			<% if( !px2conf.plugins.px2dt.paths_module_template[packageId] ){ %>
				<li><button type="button" class="px2-btn px2-btn--danger" data-pickles2-module-editor--action="deletePackage" data-pickles2-module-editor--target="<%= packageList[packageId].packageId %>">DELETE</button></li>
			<%} %>
		</ul>
		<%} %>

		<ul class="pickles2-module-editor__categoryList"><% for( var categoryId in packageList[packageId].categories ){ %>
			<li data-pickles2-module-editor--module-id="<%= packageList[packageId].packageId %>:<%= packageList[packageId].categories[categoryId].categoryId %>">
				<div class="pickles2-module-editor__title">
					<span class="pickles2-module-editor__title__label"><%= packageList[packageId].categories[categoryId].categoryName %></span>
					<span class="pickles2-module-editor__title__id"><%= packageList[packageId].categories[categoryId].categoryId %></span>
				</div>
				<% if( packageList[packageId].isEditable ){ %>
				<ul class="pickles2-module-editor__buttons">
					<li><button type="button" class="px2-btn" data-pickles2-module-editor--action="addNewModule" data-pickles2-module-editor--target="<%= packageList[packageId].packageId %>:<%= packageList[packageId].categories[categoryId].categoryId %>"><%= lb.get('ui_label.modal_title.add_a_new_module') %></button></li>
					<li><button type="button" class="px2-btn px2-btn--primary" data-pickles2-module-editor--action="editCategory" data-pickles2-module-editor--target="<%= packageList[packageId].packageId %>:<%= packageList[packageId].categories[categoryId].categoryId %>">EDIT CATEGORY</button></li>
					<li><button type="button" class="px2-btn px2-btn--danger" data-pickles2-module-editor--action="deleteCategory" data-pickles2-module-editor--target="<%= packageList[packageId].packageId %>:<%= packageList[packageId].categories[categoryId].categoryId %>">DELETE</button></li>
				</ul>
				<%} %>
				<ul class="pickles2-module-editor__moduleList"><% for( var moduleId in packageList[packageId].categories[categoryId].modules ){ %>
					<li data-pickles2-module-editor--module-id="<%= packageList[packageId].categories[categoryId].modules[moduleId].moduleId %>">
						<div class="pickles2-module-editor__title">
							<span class="pickles2-module-editor__title__label"><%= packageList[packageId].categories[categoryId].modules[moduleId].moduleName %></span>
							<% if( !packageList[packageId].categories[categoryId].modules[moduleId].clip ){ %>
							<span class="pickles2-module-editor__title__id"><%= packageList[packageId].categories[categoryId].modules[moduleId].moduleInfo.id || packageList[packageId].categories[categoryId].modules[moduleId].moduleId %></span>
							<% } %>
						</div>
						<% if( packageList[packageId].isEditable ){ %>
						<ul class="pickles2-module-editor__buttons">
							<li><button type="button" class="px2-btn px2-btn--primary" data-pickles2-module-editor--action="editModule" data-pickles2-module-editor--target="<%= packageList[packageId].categories[categoryId].modules[moduleId].moduleId %>">EDIT MODULE</button></li>
							<li><button type="button" class="px2-btn px2-btn--danger" data-pickles2-module-editor--action="deleteModule" data-pickles2-module-editor--target="<%= packageList[packageId].categories[categoryId].modules[moduleId].moduleId %>">DELETE</button></li>
						</ul>
						<%} %>
					</li>
				<% } %></ul>
			</li>
		<% } %></ul>
	</li>
<% } %>
</ul>
